.alert2 {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #222222;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &--visible {
    opacity: 0.94;
    visibility: visible;
  }
}
