@import '../variables.scss';

.drawer {
  z-index: 5 !important;
  height: $drawer-height;
  cursor: pointer;
  touch-action: none; // don't scroll on touch
  transition: all 0.25s ease-out;

  &--open {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
