@import '../variables';

.drawer {
  z-index: 5 !important;
  height: $drawer-height;
  cursor: pointer;
  touch-action: none; // don't scroll on touch
  display: flex;
  align-items: center;
  transition: height 0.25s ease-out;

  & > .mini-player {
    flex-grow: 1;
    margin: 0 0.5rem 0 0.25rem;
  }

  &--open {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;

    .player {
      flex-grow: 1;
    }

    .drawer__toggler {
      margin-bottom: 20px;
    }
  }
}

// The media query is for the edge case of an open drawer and the
// window resized past the breakpoint. This brings the scrollbar back.
@media (max-width: $for-medium-up) {
  .body--drawer {
    overflow: hidden;
  }
}
