@import '../styles/variables';

.main__primary {
  margin-bottom: 1rem + $drawer-height;

  .player {
    display: none;
  }

  .streams {
    margin: 0 auto;
  }
}

@media (min-width: $for-medium-up) {
  .main__primary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; /* no drawer */

    & > * {
      min-width: 0; /* don't get bigger when text overflows */
      width: 100%;
    }

    .player {
      display: inherit;
      position: sticky;
      top: $nav-height + 24px;
      margin-right: 2rem;
    }

    .streams {
      margin: 0;
    }
  }

  .drawer {
    display: none;
  }
}
