@import '../styles/variables';

$margin: 2rem;

.main__primary {
  margin-bottom: $margin + $drawer-height;

  .player {
    display: none;
  }

  .streams {
    margin: 0 auto;
  }
}

@media (min-width: $for-medium-up) {
  .main__primary {
    margin-bottom: $margin; /* no drawer */
    display: flex;
    justify-content: space-between;

    & > * {
      min-width: 0; /* don't get bigger when text overflows */
      width: 100%; /* divide space equally */
    }

    .player {
      display: inherit;
      position: sticky;
      top: $nav-size;
      margin-left: 2rem;
      height: calc(100vh - #{$nav-size + $margin});
      max-height: 650px;
    }

    .streams {
      margin: 0;
    }
  }

  .drawer {
    display: none;
  }
}
