@import '../variables';

.navbar {
  position: sticky !important;
  top: 0;
  z-index: 5;
  margin-bottom: $nav-margin;
  // Reduce padding and forbid lux theme to set a bigger one.
  // This is important to keep our navbar height equal on all themes.
  padding: 0.85rem 1rem;
}
