@import '../variables';

.navbar {
  position: sticky !important;
  top: 0;
  z-index: 5;
  margin-bottom: $nav-margin;
  // The following let us have the same height on all themes.
  // 1. prevent lux to increment padding
  padding: 0.8rem 1rem;
  // 2. make darkly as high as lux
  min-height: $nav-height;
}
