.player {
  position: sticky;
  top: 4rem; /* we set this dinamically */
  height: 70vh;
  min-height: 500px;
  width: 400px;
  min-width: 300px;
  background: url('../logo.svg') center no-repeat;
  background-size: 120px;
}
