.player {
  position: sticky;
  top: 4rem; /* we set this dinamically */
  height: calc(100vh - 1.5rem * 2 - 5rem); /* rest margins */
  min-height: 500px;
  width: 400px;
  min-width: 300px;
  background: url('../logo.svg') center no-repeat;
  background-size: 120px;
}
