@import '../styles/variables';

.streams {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.streams__item {
  cursor: pointer;

  &.active {
    cursor: default;
  }
}

.streams__header {
  font-size: 1.3rem;
  margin-top: 1em;
  padding: 0.5rem 1.25rem;
}
