@import '../variables.scss';

.streams {
  min-width: 300px;
  width: 450px;
}

.streams__item {
  cursor: pointer;

  &.active {
    cursor: default;
  }
}

.streams__header {
  font-size: 1.3rem;
  margin-top: 1em;
  padding: 0.5rem 1.25rem;
}

.list-group {
  margin-bottom: 1rem !important;

  @media (max-width: $mobile-width) {
    margin-bottom: 1rem + $drawer-height !important; /* drawer */
  }
}
