<div class="container-fluid">
<div class="custom pagination-centered align-self-center">
<form method="POST" action="/play" class="navbar-form text-center">
    <input type-"text" name="url" class="form-control" placeholder="Inserir URL">
    <button type="submit" class="btn btn-primary">OK</button>
</form>

<p class="button-end text-center"><a href="/radios"><button type="button" class="btn btn-default btn-lg" id="button-left">Rádios</button></a><a href="/player"><button type="button" class="btn btn-default btn-lg">Controles</button></a></p>

</div>
</div>
