<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pi - Rádios</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!-- My modifications -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container-fluid">
    <div class="custom pagination-centered align-self-center">
	<form method="POST" action="/play" class="navbar-form text-center">
        <input type-"text" name="url" class="form-control" placeholder="Inserir URL">
        <button type="submit" class="btn btn-primary">OK</button>
	</form>
	
    <p class="button-end text-center"><a href="/radios"><button type="button" class="btn btn-danger">Voltar para lista</button></a></p>
    
    </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
