<div class="container-fluid">
<div class="pagination-centered align-self-center" id="radios">
<% if auto %><h4 class="text-center">Que silêncio...</h4><% end %>
<h4 class="title text-center lead">Escolha uma rádio</h4>

<% $streams.each do |key, value| %>
    <a href="/play-url?url=<%= URI.escape(value) %>"><div class="radio-name"><h4><%= key %></h4></div></a>
<% end %>
<a href="#" id="insert"><div class="radio-name"><h4 class="text-muted">Inserir endereço...</h4></div></a>

<p class="button-end text-center">
<a href="/player"><button type="button" class="btn btn-primary btn-lg">Mostrar controles</button></a>
</p>

</div>
</div>
