<div class="container-fluid">
<div class="radios pagination-centered align-self-center">
<% if auto %><h4 class="text-center">Que silêncio...</h4><% end %>
<h4 class="title text-center lead">Escolha uma rádio</h4>

<% $streams.each do |key, value| %>
    <a href="/play?url=<%= URI.escape(value) %>"><div class="radio-name"><h4><%= key %></h4></div></a>
<% end %>
<a href="/radios/custom" class="text-muted"><div class="radio-name"><h4>Inserir endereço...</h4></div></a>


<p class="button-end text-center"><a href="/player"><button type="button" class="btn btn-primary btn-lg">Controles</button></a></p>
</div></div>
