/* player.erb */
#player {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding-top: 12%;
}

#controls {
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
}

#vol {
    padding-top: 10px;
}


/* radios.erb */
#radios {
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title {
    padding-bottom: 20px;
}

.radio-name {
    padding-top: 20px;
	padding-bottom: 20px;
}

#div-insert {
    display: none;
}

.url-form {
    margin-top: 20px;
	margin-bottom: 20px;  
}

/* Common */
.button-end {
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 220px;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}
