.container {
	margin-top: 25px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	max-width: 320px;
	padding-top: 12%;
	display: none;
}

/* player */
#player, #alert {
	max-width: 320px;
}

#state {
	height: 93px;
	margin-bottom: 35px;
	overflow: hidden;
}

#status {
	text-transform: uppercase;
}

#song {
	margin-top: 10px;
	margin-bottom: 0px;
}

#btn-ps {
	margin-right: 30px;
}

#player-bottom {
	margin-top: 120px;
	max-width: 250px;
}

#osd {
	margin-top: 90px;
}

#btn-random {
	float: left;
	width: 100px;
}

/* Only float right if btn-random is present */
#btn-random ~ #btn-radios {
	float: right;
}

#btn-radios {
	width: 100px;
}

/* radios list */
.list-group-item {
	border-style: none;
}

.radios-group-title {
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 0px 0px 1px 0px;	/* just bottom border */
	border-style: solid;
}

#radios-list {
	box-shadow: none;
	margin-top: 40px;
}

#insert {
	margin-top: 45px;
	margin-bottom: 130px;
}

#radios-bottom {
	position: fixed;
	bottom: 0px;
	background-color: white;
	width: 350px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#btn-player {
	width: 150px;
	margin-bottom: 20px;
	margin-top: 30px;
}


/* Alerts */
#alert-text {
	padding-top: 40%;
}
