.container {
	margin-top: 25px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	max-width: 350px;
}

/* Hide everything */
#player, #radios, #alert, #silence, #osd {
	display: none;
}


/* player */
#player, #alert {
	max-width: 320px;
}

#state {
	height: 93px;
	margin-bottom: 10px;
}

#progress {
	float: right;
}

#state h5 {
	margin-bottom: 0px;	/* we want the progress bar to be close */
}

#progress-bar {
	margin-top: 2px;
	height: 2px;
	width: 50%;
}

#song {
	margin-top: 6px;		/* 10px - 2px (progress bar) - 2px (progress bar top margin) */
	margin-bottom: 0px;	
}

#artist {
	margin-top: 0px;
}

/* Trim string and add suspension points if needed */
#song, #artist {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#btn-ps {
	margin-right: 30px;
}

#player-bottom {
	margin-top: 120px;
}

#osd {
	margin-top: 90px;
}

#btn-random {
	float: left;
	width: 120px;
}

/* Only float right if btn-random is present */
#btn-random ~ #btn-radios {
	float: right;
}

#btn-radios {
	width: 120px;*/
}


/* radios list */
#title {
	margin-bottom: 40px;
}

#radios-list {
	box-shadow: none;
}

.list-group-item {
	border-style: none;
	padding-bottom: 7px;
}

.radios-group-title {
	margin-top: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	border-width: 0px 0px 1px 0px;	/* just bottom border */
	border-style: solid;
}

#insert {
	margin-top: 45px;
	margin-bottom: 130px;
}

#radios-bottom {
	position: fixed;
	bottom: 0px;
	background-color: white;
	width: 350px;
	left: 50%;
	transform: translate(-50%, 0%);
}

#btn-player {
	width: 150px;
	margin-bottom: 20px;
	margin-top: 30px;
}


/* Alerts */
#alert-text {
	padding-top: 40%;
}

