.mini-player {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 10px 20px;
  }
}

.mini-player__left {
  // Dirty workaround for ellipsis to work
  max-width: calc(100vw - 160px);
  margin-right: 1rem;
}
