@import '../../variables';

.player {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-logo {
  width: 130px;
}

@media(max-height: $for-short-down) {
  .player-logo {
    display: none;
  }
}
