@import './variables.scss';

.app-main {
  display: flex;
  justify-content: space-evenly;
}

.app-main > .player {
  position: sticky;
  top: 4rem; // we set this dinamically
}

.drawer {
  visibility: hidden;

  @media (max-width: $mobile-width) {
    visibility: visible;
  }
}

.app-main > .player {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
