.app-main {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 750px) {
  .app-main > .player {
    display: none;
  }
}
@media (min-width: 751px) {
  .drawer {
    display: none;
  }
}
