@import './styles/variables';

.app-main {
  display: flex;
  justify-content: space-around;

  // Not Edge 18-. It only partially supports space-evenly.
  @supports not (-ms-ime-align: auto) {
    justify-content: space-evenly;
  }
}

.app-main > .player {
  display: none;
}

@media (min-width: $mobile-width) {
  .drawer {
    display: none;
  }

  .app-main > .player {
    display: inherit;
    position: sticky;
    top: 4rem; // we set this dynamically
  }
}
