body {
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll; // so elements don't move if scroll is off
}

button[disabled] {
  cursor: default;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
