body {
  height: 100vh;
  overflow-y: scroll; // so elements don't move if page fits view
}

#root {
  height: 100%;
}

button[disabled] {
  cursor: default;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
