html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-y: scroll; // so elements don't move if page fits view
}

button[disabled] {
  cursor: default;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app {
  overflow: auto; // for some reason this fixes Chrome 87 ignoring margin-bottom on .main__primary
}
