# Author: Rafael Cavalcanti

[Unit]
Description=A MPD web client to listen to radio
After=syslog.target network.target mpd.service
Requires=mpd.service

[Service]
Type=simple
User=www-data
Group=www-data
RuntimeDirectory=pifi
ExecStart=/usr/local/bin/pifi --port 3000
TimeoutSec=300

[Install]
WantedBy=multi-user.target
