<div class="container">

	<!-- Player -->
	<div id="player">

		<div id="state">
			<h5 id="state-top-line">
				<span id="playing" class="text-uppercase">&nbsp;</span>
				<span id="progress">
					<span id="elapsed">&nbsp;</span>/<span id="length">&nbsp;</span>
				</span>
			</h5>
			<div id="progress-bar" class="bg-info"></div>

			<h3 id="title">&nbsp;</h3>
			<h4 id="artist">&nbsp;</h4>
		</div>

		<div id="controls" role="toolbar">
			<button type="button" id="btn-ps" class="btn btn-default btn-lg">
				<span id="span-ps" class="glyphicon glyphicon-arrow-down"></span>
			</button>
			<button type="button" id="btn-vdown" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-volume-down"></span>
			</button>
			<button type="button" id="btn-vup" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-volume-up"></span>
			</button>
		</div>


		<div id="player-bottom">
			<% if play_local %>
				<button type="button" id="btn-random" class="btn btn-info">
					<span class="glyphicon glyphicon-music"></span>
					<span id="lbl-random"></span>
				</button>
			<% end %>
			<button type="button" id="btn-radios" class="btn btn-primary" >
				<span class="glyphicon glyphicon-list"></span>
				<span id="lbl-radios"></span>
			</button>
		</div>

		<!-- Volume OSD -->
		<div id="osd">
			<h2 id="osd-text" class="text-info"></h2>
		</div>

	</div>


	<!-- Radios list -->
	<div id="radios">

		<h4 id="radios-welcome" class="text-center text-muted"></h4>

		<ul id="radios-list" class="list-group">
			<% streams.each do |key, value| %>
				<% if value.empty? %>
					<h4 class="radios-group-title"><%= key %></h4>
				<% else %>
					<a href="#">
						<li class="radio-name list-group-item"><h4><%= key %></h4></li>
					</a>
				<% end %>
			<% end %>
		</ul>
		
		<a href="#">
			<h4 id="insert" class="text-muted"></h4>
		</a>

		<div id="radios-bottom" class="text-center">
			<a href="#">
				<button type="button" id="btn-player" class="btn btn-primary">
					<span class="glyphicon glyphicon-th"></span>
					<span id="lbl-player"></span>
				</button>
			</a>
		</div>
	</div>


	<!-- To show alerts -->
	<div id="alert" class="text-center text-info">
		<h3 id="alert-text-main"></h3>
		<h4 id="alert-text-more"></h4>
	</div>

</div>
